@import url('reset.css');



.header{
    background: rgb(180, 161, 180);   
    padding: 10px 0;
    margin-bottom: 20px;
}

.header .container {
    font-size: 0;
}

.container { 
    width: 1200px;
    margin: 0 auto;
}

.logo, .menu, .search {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle ;
}
.logo, .search {
    width: 100px;
}
.logo{
    line-height: 17px;
}
.logo_a {
display: block;
}
.logo_a img {
    width: 100%;
    height: 100%;
}

.search button{
    width: 100%;
    padding: 10px 15px;
    /* margin: auto 0; */
    border-radius: 6px;
    background: transparent;
    font-size: 25px;    
}

.menu {
    font-size: 0;
    width: 1000px;
    text-align: center;
}

.menu li {
    display: inline-block;
    font-size: 25px;
}
.menu li + li {
    margin-left: 30px;
}

.menu li a {
    color: rgb(63, 22, 59);
    text-decoration: none;
    text-transform: uppercase;
}

.menu li a.active {
    color: rgb(142, 34, 34);
}
/* CARDS_____________ */

.card_out {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 30px;
    color: rgb(63, 22, 59);
    text-transform: uppercase;
    
}
h2{
    padding: 6px 0;
    font-size: 25px;
    text-transform: uppercase;
}
p{
    color:rgb(63, 22, 59); 
    font-size: 20px; 
    }

p + p {
   margin-top: 10px;
}

.cards_all {
    font-size: 0;        
}

.card{
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    width: 400px;
    }
.card_in{
    border: 5px solid rgb(180, 161, 180);
    border-radius: 6px;
}

.card_text {
    text-align: justify;
    padding: 10px;
    margin-bottom: 10px;
    height: 400px;
    overflow: hidden;
}

.card_text a {
    font-size: 20px;
}

/* imagin card */

.img_card {
    margin: 10px;
    border-radius: 5px;
    background: black;
    overflow: hidden;
    box-shadow: 0px 1px 8px 3px rgb(81, 16, 16);
    }

.img_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}   


/* FOOTER __________________________________ */

.footer {

    background: rgb(180, 161, 180);
    color: bisque;
    padding: 10px 0;
    text-align: center ;
}

/* ________________________________________  */

/* TABLE _________________________________ */





.table {
    width: 1000px; 
    margin: 0px auto; 
    padding: 15px;
    }

.table_one, tr, td {
    border: 3px solid black;
    padding: 70px;
    width: 100%;
    margin-bottom: 20px;
    }



.t_color_1 {
    background: gray;
    }
    
.t_color_2{
        background: rgb(96, 121, 7);
    }
    
    .t_color_3{
    background: rgb(10, 70, 10);
    }
    
    .t_color_4{
        background: greenyellow;
    }
    
    .t_color_5{
        background: orange;
    }
    
    .t_color_6{
        background: blue;
    }

    .table_a a {
        color: rgb(63, 22, 59);
        text-decoration: none;
        text-transform: uppercase; 
        font-size: 25px;
        }

        /*      FLOAT___________________________________________ */

    
    .float {
        
    }
    .float-a{
        background: green;
	    width: 400px;
        height: 400px;
	    outline: 1px solid black;
        float: left;
    }
    
    .clearfix ::after {
        content: '';
        clear: both;
        display: block;
    }


